/* Intended for Mobile First Design */
/* TABLE OF CONTENTS */

/* ----- GENERAL STYLES ----- */
:root {
    --color-primary500: #FFECD1;
    --color-primary700: #C9B99F;
    --color-secondary700: #AC9653;
    --color-neutral100: #FEFDFB;
    --color-neutral700: #282724;
    --color-neutral900: #000000;
    --font-mono: 'Courier New', Courier, monospace;
    --font-serif: Georgia, 'Times New Roman', Times, serif;
    --font-sansSerif: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Helvetica', 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-sansSerif);
    color: var(--color-primary500);
    font-weight: 400;
    background: var(--color-neutral900);
    display: grid;
    place-items: center;
}

.sansSerif {font-family: var(--font-sansSerif);}
.serif {font-family: var(--serif)}
.mono {font-family: var(--font-mono);}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--color-primary700);
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 2rem;
}

a {
    color: var(--color-secondary700);
}

/* ----- NAV BAR ----- */
#navbar {
    background: var(--color-primary700);
    padding: 1.5rem 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--color-neutral700);
    text-decoration: none;
}

.nav-link-image {
    display: inline-block;
    background: var(--color-neutral100);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.nav-container-left a{
    margin-inline: 1.5rem;
}

/* ----- WELCOME SECTION ----- */
#welcome-section {
    height: 100%;
}

.img-container {
    margin-inline: auto;
    padding: 5rem;
    max-width: 80%;
}

.welcome-img-profile {
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    border-radius: 50%;
}