/* Intended for Desktop First Design */
/* 
TABLE OF CONTENTS
-General Styles
*/

/* ----- GENERAL STYLES ----- */
:root {
    --color-primary500: #FFECD1;
    --color-primary700: #C9B99F;
    --color-secondary700: #AC9653;
    --color-neutral100: #FEFDFB;
    --color-neutral700: #282724;
    --color-neutral900: #000000;
    --font-sansSerif: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Helvetica', 'Arial', sans-serif;
    --font-serif: Georgia, 'Times New Roman', Times, serif;
    --font-mono: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-sansSerif);
    color: var(--color-primary500);
    font-weight: 400;
    background: var(--color-neutral900);
    display: grid;
    place-items: center;
}

.sansSerif {font-family: var(--font-sansSerif);}
.serif {font-family: var(--font-serif)}
.mono {font-family: var(--font-mono);}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--color-primary700);
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 2rem;
}

a {
    color: var(--color-secondary700);
}

.circle {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
}

/* ----- NAV BAR ----- */
nav {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: var(--color-primary700);
    width: 100%;
    padding: 1rem 6rem;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--color-neutral900);
    text-decoration: none;
}

.nav-link-image {
    background: var(--color-neutral100);
    min-width: 45px;
    min-height: 45px;
}

.nav-container-left {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 2rem;
}

.nav-container-left a:nth-of-type(2) {
    width: max-content;
}

.nav-container-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 51rem;
    gap: 3rem;
    margin-left: 2rem;
}

/* ----- WELCOME SECTION ----- */
#welcome-section {
    height: calc(100vh - 1rem + 1rem + 45px);
    max-width: 1366px;
    margin-inline: auto ;
    box-sizing: border-box;
    /* margin-top: calc(1rem + 1rem + 45px); */
    /* padding-top: 2rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-container {
    order: 2;
}

.welcome-img-profile {
    max-width: 100vw;
    max-height: 53rem;
    border-radius: 50%;
}

.welcome-headline {
    order: 1;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.welcome-headline > h1 {
    color: var(--color-primary500);
}

.welcome-subtitle {
    width: fit-content;
}

.welcome-subtitle > .serif {
    font-weight: 400;
}

.welcome-subtitle > .sansSerif {
    font-weight: 400;
}

.welcome-subtitle > .mono {
    font-weight: 400;
}

.welcome-moreArrow {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%;
    overflow: hidden;
    animation: 2.5s ease-in-out infinite iconGlow;
}

@keyframes iconGlow {
    30% {
        filter: none;
    }
    50% {
        filter: drop-shadow(0 0 4px currentcolor);
    }
    70% {
        filter: none;
    }
}

.welcome-moreArrow-img {
    margin-inline: 50%;
}